.equipment {
  display: grid;
  gap: 3px;
  justify-items: center;
  align-items: center;
  grid-template-columns: auto auto auto;
}

.equipment--box {
  filter: grayscale(75%);
  width: 90px;
  height: 90px;
  border-radius: 8px;
  transform: scale(0.95);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: black;
  border: 3px solid #e0e7e7;
}

.equipment--helmet {
  background: url(../../assets/helmet.png);
  background-size: contain;
}
.equipment--chest {
  background: url(../../assets/chest.png);
  background-size: contain;
}
.equipment--gloves {
  background: url(../../assets/gloves.png);
  background-size: contain;
}
.equipment--boots {
  background: url(../../assets/boots.png);
  background-size: contain;
}
.equipment--shield {
  background: url(../../assets/shield.png);
  background-size: contain;
}
.equipment--pants {
  background: url(../../assets/pants.png);
  background-size: contain;
}

.equipment--disabled {
  filter: grayscale(100%);
}

.equipment--box span {
  background: #000000CC;
  padding: 2px 4px;
  border-radius: 4px;
}

.equipment--box span:last-child {
  font-size: 20px;
  color: #DB4166
}

.equipment--box:hover {
  filter: grayscale(0%);
  transform: scale(1);
}

.equipment--plusIcon {
  width: 48px;
}