''.inventory--equipment {
  display: grid;
  gap: 3px;
  justify-items: center;
  align-items: center;
  grid-template-columns: auto auto auto;
}

.inventory--equipmentBox {
  filter: grayscale(75%);
  width: 90px;
  height: 90px;
  border-radius: 8px;
  transform: scale(0.95);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: black;
  border: 3px solid #e0e7e7;
}

.inventory--equipmentHelmet {
  background: url(../../assets/helmet.png);
  background-size: contain;
}
.inventory--equipmentChest {
  background: url(../../assets/chest.png);
  background-size: contain;
}
.inventory--equipmentGloves {
  background: url(../../assets/gloves.png);
  background-size: contain;
}
.inventory--equipmentBoots {
  background: url(../../assets/boots.png);
  background-size: contain;
}
.inventory--equipmentShield {
  background: url(../../assets/shield.png);
  background-size: contain;
}
.inventory--equipmentPants {
  background: url(../../assets/pants.png);
  background-size: contain;
}

.equipmentDisabled {
  filter: grayscale(100%);
}

.inventory--equipmentBox span {
  background: #000000CC;
  padding: 2px 4px;
  border-radius: 4px;
}

.inventory--equipmentBox span:last-child {
  font-size: 20px;
  color: #DB4166
}

.inventory--equipmentBox:hover {
  filter: grayscale(0%);
  transform: scale(1);
}